body {
    font-family: "Palatino Linotype", serif;
    color:       #111;
    text-rendering: optimizeLegibility;
}

.body {
    margin: auto;
    width: 350px;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

h1 {
    line-height: 36pt;
    font-size: 18pt;
}

.controls {
    line-height: 18pt;
    font-size: 12pt;
}

.chapter {
    margin-top: 36pt;
}

.chapter p {
    font-size: 12pt;
    line-height: 18pt;
}

.chapter h2 {
    float: left;
    margin: 0 0 0 -1.9em;
    line-height: 36pt;
    font-size: 18pt;
}
