
body {
    font-family: "Palatino Linotype", serif;
    color:       #111;
    font-size:   15px;
    line-height: 22px; /* 1.48 * font-size */
}

a:hover {
    text-decoration: underline;
}

#main {
    margin: auto;
    width: 350px;
}

.number {
    font-weight: bold;
}

.tao {
    text-rendering: optimizeLegibility;
}

ul.controls {
    text-align: center;
    display: block;
    margin: 0;
    padding: 10px 0;
}

.controls li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

